@import "tailwindcss";

/* Custom CSS for Parallax Effect */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* Add transition effect for links in footer */
footer a {
    transition: all 0.3s ease;
}

/* Add hover effect for social icons */
footer .fab {
    transition: color 0.3s ease;
}

footer .fab:hover {
    color: #4c51bf; /* Indigox color for hover effect */
}
/* Mobile Specific Adjustments */
@media (max-width: 768px) {
.hero {
	margin-top: 120px;
}
nav {	
	
    border-radius: 30px; /* Rounded corners */           
    top: 20px; /* Floating effect */
    position:fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	z-index: 999;
	
}
}
.mobile-menu{
    border-radius: 30px;
    position: sticky;
    background-color: #fff;
}

nav{
    border-radius: 30px; /* Rounded corners */ 
    top: 30px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    position:fixed;

}

/* CSS Code */
.swiper-wrapper {
width: 100%;
height: max-content !important;
padding-bottom: 64px !important;
-webkit-transition-timing-function: linear !important;
transition-timing-function: linear !important;
position: relative;
}
.swiper-pagination-bullet {
background: #4F46E5;
}
.swiper-pagination-bullet-active {
background: #4F46E5 !important;
}
