/* Custom CSS for Parallax Effect */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Add transition effect for links in footer */
footer a {
    transition: all 0.3s ease;
}

/* Add hover effect for social icons */
footer .fab {
    transition: color 0.3s ease;
}

footer .fab:hover {
    color: #4c51bf; /* Indigox color for hover effect */
}
    /* Mobile Specific Adjustments */
    @media (max-width: 768px) {
nav {
            border-radius: 30px; /* Rounded corners */
            position: fixed;
            top: 20px; /* Floating effect */
            transform: translateX(-50%);
            width: 90%; /* Adjust width to avoid touching screen edges */
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Shadow for floating effect */
            z-index: 999;
}
    }
